{% extends 'base.html' %}

{% block title%}
Страница для создания корреспондента
{% endblock %}

{% block body %}

<div class="container mt-5">
    <h1>Добавление корреспондента</h1>
    <form method="post">
        <input type="number" name="id" id="id" class="form-control" placeholder="Введите id корреспондента"><br>
        <input type="text" name="name_of_correspondents" id="name_of_correspondents" class="form-control" placeholder="Введите имя корреспондента"><br>
        <input  type="date" name="birthday" id="birthday" class="form-control" placeholder="Введите дату рождения"/><br>
        <input type="text" name="adress_of_correspondents" id="adress_of_correspondents" class="form-control" placeholder="Введите адрес корреспондента"><br>
        <input type="text" name="position" id="position" class="form-control" placeholder="Введите должность корреспондента"><br>
        <input type="text" name="name_of_department" id="name_of_department" class="form-control"  placeholder="Введите название подразделения"><br>

        <p><input type="submit" value="Отправить" class="btn btn-success"/></p>

    </form>
</div>

{% endblock %}