{% extends 'base.html' %}

{% block title%}
Страница для изменения должности
{% endblock %}

{% block body %}

<div class="container mt-5">
    <h1>Изменение должностей</h1>
    <form method="post">
        <input type="text" name="title_of_position" id="title_of_position" value="{{ position.title_of_position }}" class="form-control" placeholder="Введите название должности"><br>
        <input type="text" name="short_title" id="short_title" class="form-control" value="{{ position.hort_title }}" placeholder="Краткое название"><br>
        <input type="number" name="cipher" id="cipher" class="form-control" value="{{ position.cipher }}" placeholder="Шифр"><br>
        <input type="number" name="low_border" id="low_border" class="form-control" value="{{ position.low_border }}" placeholder="Нижняя граница"><br>
        <input type="number" name="high_border" id="high_border" class="form-control" value="{{ position.high_border }}" placeholder="Верхняя граница"><br>

        <p><input type="submit" value="Обновить" class="btn btn-success"/></p>

    </form>
</div>

{% endblock %}