{% extends 'base.html' %}

{% block title%}
Страница для изменения подразделения
{% endblock %}

{% block body %}

<div class="container mt-5">
    <h1>Изменение подразделения</h1>
    <form method="post">
        <input type="text" name="name_of_department" id="name_of_department" class="form-control" value="{{ department.name_of_department }}" placeholder="Введите название подразделения"><br>
        <input type="text" name="head_of_department" id="head_of_department" class="form-control" value="{{ department.head_of_department }}" placeholder="Введите управляющего подразделением"><br>
        <p><input type="submit" value="Обновить" class="btn btn-success"/></p>

    </form>
</div>

{% endblock %}